#header{
    height: 865px;
    margin-top: -120px;
    position: absolute;
    
    
}

.header {
    background: url(.img/header.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
  }

.header .navbar {
    background-color: transparent !important;
}

.titulo{
  font-size: 50px;
  color: white;
  margin-left: 55px;
  margin-top: 10px;

}

.nosotros{
  font-size: 25px;
  color: white;
  margin-left: 370px;
  margin-top: 20px;

}

.anuncios{
  font-size: 25px;
  color: white;
  margin-left: 55px;
  margin-top: 20px;

}

.blog{
  font-size: 25px;
  color: white;
  margin-left: 55px;
  margin-top: 20px;

}

.contacto{
  font-size: 25px;
  color: white;
  margin-left: 55px;
  margin-top: 20px;

}

.nav-link{
  font-size: 30px;
  color: white;
  text-align: right;
}

.subTitulo1{
  color: white;
  position: absolute;
  font-size: 30px;
  margin-top: 800px;
  margin-left: 55px;

}

.subTitulo2{  
  color: white;
  position: absolute;
  font-size: 30px;
  margin-top: 950px;
  margin-left: 55px;

}

.subTitulo3{
  color:grey;
  text-align: center;
  font-size: 35px;
  margin-top: 150px;
  
}

.subTitulo4{
  color: grey;
  text-align: center;
  font-size: 35px;
  margin-top: 270px;
}

.row > div{
  background: #f2f2f2;
  padding: 30px;
  border: 1px solid grey;
}

.card{margin:   auto;}

.card1{
  width: 300px;
  height: 100px;
  margin-top: 500px;
  margin-left: -100px;
  

}

.card2{
  width: 300px;
  height: 100px;
  margin-top: 500px;
  margin-left: 310px;


}


.card3{
  width: 300px;
  height: 100px;
  margin-top: 330px;
  margin-left: 827px;
 

}

.seguridad{
  width: 450px;
  height: 100px;
  margin-top: 10px;
  margin-left: -100px;
 

}

.seguridad-icono{
  width: 150px;
  height: 150px;
  margin-left: 150px;



}

.mejorPrecio{
  width: 450px;
  height: 100px;
  margin-top: -100px;
  margin-left: 310px;

}

.mejorPrecio-icono{
  width: 150px;
  height: 150px;
  margin-left: 150px;


}

.atiempo{
  width: 450px;
  height: 100px;
  margin-top: -80px;
  margin-left: 850px;
 

}

.atiempo-icono{
  width: 130px;
  height: 130px;
  margin-left: 150px;


}

.card-title{
  color:black;
  text-align: center;
  font-size: 30px;

}

.card-text{
  font-size: 18px;
  text-align: center;
}

.card-title2{
  color:black;
  text-align: left;
  font-size: 25px;
  margin-left: 7px;

}

.card-text2{
  font-size: 17px;
  margin-left: 7px;

}

.casaDeLujo{
  width: 400px;
  height: 620px;
  border-color:#CECCC8 ;
  margin-left: -70px;
  margin-top: 50px;
  background-color:#E6E7F5;
  border-width:50px;
}

.casaDeLujo-img{
  width: 400px;
  height: 300px;

}

.num{
  color: green;
  font-size: 18px;
  margin-left: 10px;
}

.botonPropiedad{
  width: 360px;
  height: 40px;
  margin-left: 6px;
  background-color: #FB9707;
  border-color: #FB9707;


}

.letra{
  font-size: 16px;
  color: white;
  margin-top: 6px;

}

.num2{
  color: black;
  font-size: 18px;
  margin-left: 185px;
  margin-top: -38px;

}

.estacionamiento{
  width: 50px;
  height: 40px;
  margin-left: 125px;
  margin-top: -38px;
}

.dormitorio{
  width: 50px;
  height: 40px;
  margin-left: 230px;
  margin-top: -40px;

}

.num3{
  color: black;
  font-size: 18px;
  margin-left: 290px;
  margin-top: -37px;


}

.inodoro{
  width: 50px;
  height: 40px;
  margin-left: 30px;

}

.num4{
  color: black;
  font-size: 18px;
  margin-left: 85px;
  margin-top: -40px;

}

.casaTerminada{
  width: 400px;
  height: 620px;
  border-color:#CECCC8 ;
  margin-left: 350px;
  margin-top: -620px;
  background-color:#E6E7F5;
  border-width:50px;

}

.casaTerminada-img{
  width: 400px;
  height: 300px;
}

.casaAlberca{
  width: 400px;
  height: 620px;
  border-color:#CECCC8 ;
  margin-left: 770px;
  margin-top: -620px;
  background-color:#E6E7F5;
  border-width:50px;

}

.casaAlberca-img{
  width: 400px;
  height: 300px;

}

.botonVer{
  width: 150px;
  height: 40px;
  margin-left: 1035px;
  background-color: #04D129;
  border-color: #04D129;


}

.footer{
  height: 600px;
  width: 1345px;
  
}

.titulo-footer{
  color: white;
  font-size: 35px;

  margin-top: -400px;
  margin-left: 80px;
  

}

.subtitulo-footer{

  color: white;
  font-size: 20px;
  margin-left: 80px;
  margin-top: 55px;

 

}

.botonfooter{
  width: 250px;
  height: 40px;
  margin-left: 80px;
  margin-top: 45px;
  background-color: #FB9707;
  border-color: #FB9707;

}

